.body1 {
    background-color: black;
}

.body3 {
    background-color: rgb(238, 232, 232);
}

* {
    margin: 0;
    padding: 0;
}

.divv1 {
    width: 100%;
    background-color: black;
    height: 80px;
}

.tap1 {
    width: 30%;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 30%;
}

.abut {
    border: solid 2px red;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 35px 2px 35px;
    margin: 15px;
}

.tdd1 {
    padding-left: 10px;
}

.img1 {
    width: 390px;
    height: 230px;
    position: absolute;
    right: 10px;
    top: -80px;
}

.but2,
.but3 {
    width: 100%;
    height: 40px;
    border: solid 1px white;
    font-weight: 900;
}

.tap2 {
    width: 100px;
    height: 80px;
    margin-top: -80px;
}

.but2 {
    border-radius: 30px 0 0 30px;
}

.but3 {
    border-radius: 0 30px 30px 0;
}

.divv2 {
    border: solid 2px blue;
    width: 99, 9%;
    height: 4830px;
    padding-right: 10px;
}

.divv4 {
    width: 74%;
    height: 4830px;
    border: solid .1px rgb(12, 12, 12);
}

.divv5 {
    width: 26%;
    height: 3000px;
    border: solid 5px white;
    position: absolute;
    top: 80px;
    right: 2px;
}

.h111h {
    margin-right: 8px;
}

.img11 {
    width: 80%;
}

.text1 {
    font-size: 40px;
}

.text2 {
    font-size: 40px;
}

.stro1 {
    background-color: red;
}

.but11 {
    text-decoration: none;
    border: solid 2px rgb(0, 0, 255);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-size: 40px;
    color: rgb(41, 136, 168);
}

.end {
    width: 100%;
    background-color: black;
    height: 100px;
    position: absolute;
    bottom: 0px;
}

.imgend {
    width: 390px;
    height: 230px;
    position: absolute;
    bottom: -60px;
}

.li1 {
    color: white;
    font-size: 16px;
    margin-right: 100px;
    margin-top: -50px;
}

.li2 {
    color: white;
    font-size: 16px;
    margin-right: 100px;
    margin-top: 10px;
}

.hend {
    color: red;
    text-decoration: none;
    font-size: 70px;
    margin-left: 80px;
}

.aend {
    text-decoration: none;
}

.endvisual {
    width: 100%;
    background-color: black;
    height: 100px;
}

a {
    text-decoration: none;
}

.li3 {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 25px;
}

.h1apps {
    background-color: green;
    color: white;
    padding: 15px 0 15px 0;
    font-size: 40px;
}

.apps {
    width: 70%;
    height: 200px;
    border: solid 2px rgb(8, 8, 8);
    margin-top: 150px;
    border-radius: 50px;
    background-color: rgb(19, 18, 18);
}

.a1 {
    border: solid 2px red;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}